__pycache__
migrations
app/main/public/uploads/*
!app/main/public/uploads/defaut
!app/main/public/uploads/default2
app/test/*.csv
!app/test/adresses-18.csv
!app/test/adresses-28.csv
!app/test/adresses-36.csv
!app/test/adresses-37.csv
!app/test/adresses-41.csv
!app/test/adresses-45.csv
app/test/*.json
app/test/*.geojson
!app/test/ext-cvl-osm-crop-polygon.geojson
app/test/*.pbf
app/worker/state.json
alpha/
prod/
.venv/
app/note
.vscode/
yackapi-alpha/
